$document: #EEEEF7;
$elements: #BC3B69;
$task: #ffffff;
$task_text: #000000;
$input_color: #dd99b1;
$font: 'Roboto', sans-serif 20px;
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font: 100% $font;
}
body {
    width: 100%;
    background: $document;
}
header {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 15px;
    z-index: 5;
    background: $elements;
    border-radius: 0 0 10px 10px none;
    position: fixed;
    right: 0;
    top:0;
    #item{
        width: 98%;
        height: 50px;
        color: $task;
        background:$input_color;
        border-radius: 5px 0 0 5px;
        padding: 0 0 0 10px;
        resize:vertical;
    }
    ::placeholder{
        color: $task;
        font: $font;
    }
    #add{
        width: 50px;
        background: $elements;
        border-radius:  5px;
    }
    #add img{
        width: 90%;
        height: 50px;
        float: left;
        margin: 0 0 0 2px;
        border-radius: 25px;
        background:$task;
    }
}
.container {
    display: flex;
    flex-direction: column;
    padding-top: 90px; 
    margin: 1% auto;
    background: $document;
    width:98%;
}
li.empty{
    background-color:$input_color; 
    }
ul >li {
    background-color:$task;
    margin: 0 0 10px 0;
    padding: 0 0 0 5%;
    overflow: hidden;
}
.button{
    float: right;
    padding-right: 2%;
    .remove{
        background: url(../images/remove_icon.svg);
        background-position: center;
        width: 50px;
        height: 20px;
        margin: 0 10x 0 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .remove:hover{
        background: url(../images/remove_icon_hover.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.1s;
        background-position: center;
           }
    .toggle{
        background: url(../images/done_icon.svg);
        width: 50px;
        height: 20px;
        margin: 0 10px 0 0;        
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 2% auto solid $elements;
    }
    #completed{
        background-color: $elements;
    }
}

