$document: #EEEEF7;
$elements: #BC3B69;
$task: #ffffff;
$task_text: #000000;
$input_color: #dd99b1;
$font: 'Roboto', sans-serif 20px;
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font: 100% $font;
}

body {
    width: 100%;
    background: $document;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 15px;
    z-index: 5;
    background: $elements;
    border-radius: 0 0 10px 10px;
    position: relative;
    input {
        width: 98%;
        height: 50px;
        color: $task;
        background:$input_color;
        border-radius: 5px;
        padding: 10px 15px;
    }
    ::placeholder{
        color: $task;
        font: $font;
    }
    #add{
        width: 50px;
        position: absolute;
        top: 15px;
        right: 15px;
        height: 50px;
        background: url(../images/add_icon.svg);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius:  50%;
        background-color: #fff;
    }
}

.toggle {
    background: url(../images/done_icon.svg);
    background-size:cover;
    height:20px;
    width:20px;
    background-color:red;
    
}

.container {
    width: 100%;
    background: $task;
    // display: flex;
    // flex-direction: column;
    // padding-top: 90px; 
    // margin: 1% auto;
    li.empty{
        background-color:$input_color; 
        }
    li{
        overflow: hidden;
        padding: 10px 15px;
        margin: 10px 5px;
        background-color:$task;
        border: 1px solid #ccc;
        border-radius: 50px;
        .button{
            float: right; 
            width: 10%;    
            .remove{
                background: url(../images/remove_icon.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 50px;
                height: 20px;
                margin: 0 10px 0 0;            
                &:hover{
                    background: url(../images/remove_icon_hover.svg);
                    transition: 0.1s;
                }
            }
            .toggle{
                background: url(../images/done_icon.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 50px;
                height: 20px;
                margin: 0 10px 0 0;        
                border-radius: 2% auto solid $elements;
            }    
        }
        p{
            float:left;
            width: 90%;
        }
    }
}
