/*variables*/
/*mixins*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif 20px;
}

body {
  width: 100%;
  background: #edf0f1;
}

header {
  width: 100%;
  height: 80px;
  padding: 15px;
  background: #BC3B69;
  border-radius: 0 0 10px 10px;
  position: fixed;
}
header input {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background: #b8618a;
  border-radius: 5px 25px 25px 5px;
  margin: auto;
  padding: 10px 40px 10px 15px;
}
header input:focus {
  outline: none;
  background: #caa9b9;
}
header ::placeholder {
  color: #ffffff;
}
header #add {
  background-image: url(../images/add_icon.svg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  border: 2px solid #ffffff;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.container {
  width: 100%;
  padding-top: 120px;
}
.container hr {
  margin: 30px auto;
  border-top: 1px solid #aaa;
  width: 30%;
}
.container li {
  overflow: hidden;
  padding: 10px 15px;
  margin: 10px 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 2px #aaa;
}
.container li.empty {
  text-align: center;
  color: #aaa;
  background-color: #edf0f1;
  border: none;
  box-shadow: none;
}
.container li .button {
  float: right;
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}
.container li .button .remove {
  background-image: url(../images/remove_icon.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: 2px solid #aaa;
}
.container li .button .remove:hover {
  background-image: url(../images/remove_icon_hover.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  border: 2px solid #aaa;
  transition: 0.1s;
}
.container li .button .toggle {
  background-image: url(../images/done_icon.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: 2px solid #BC3B69;
}
.container li .button .toggle:hover {
  background-image: url(../images/done_icon_white.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b8618a;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  border: 2px solid #BC3B69;
}
.container li p {
  float: left;
  width: 90%;
  text-align: justify;
}
.container #completed p {
  color: #aaa;
  text-decoration: line-through;
}
.container #completed .toggle {
  background-image: url(../images/done_icon_white.svg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #BC3B69;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: 2px solid #BC3B69;
}

/*# sourceMappingURL=style.css.map */
