/*variables*/
$document: #edf0f1;
$elements: #BC3B69;
$task: #ffffff;
$task_text: #000000;
$input_color: #b8618a;
$lighter_input:rgb(202, 169, 185);
$empty_color:#aaa;
$font: 'Roboto', sans-serif 20px;

/*mixins*/




*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: $font;
}

body {
    width: 100%;
    background: $document;
}

header {
    width: 100%;
    height: 80px;
    padding: 15px;
    background: $elements;
    border-radius: 0 0 10px 10px;
    position: fixed;
    input {
        width: 100%;
        height: 50px;
        color: $task;
        background:$input_color;
        border-radius:5px 25px 25px 5px;
        margin:auto;
        padding: 10px 40px 10px 15px;
        &:focus {
            outline:none;
            background:$lighter_input;
        }
    }
    ::placeholder{
        color: $task;
    }    
    #add{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 15px;
        right: 15px;
        background-image: url(../images/add_icon.svg);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius:  50%;
        background-color: #fff;
        cursor:pointer;
    }
}

.container {
    width: 100%;
    padding-top: 120px; 
    hr {
        margin:30px auto; 
        border-top: 1px solid $empty_color;
        width:30%;
    }
    li{
        overflow: hidden;
        padding: 10px 15px;
        margin: 10px 5px;
        background-color:$task;
        border-radius: 5px;
        box-shadow: 1px 2px $empty_color;
        &.empty{
            text-align: center;
            color: $empty_color;
            background-color: $document;
            border:none;
            box-shadow: none;
        }
        .button{
            float: right; 
            width: 10%;    
            display:flex;
            justify-content: space-evenly;
            .remove{
                background: url(../images/remove_icon.svg);
                background-repeat: no-repeat;
                background-size: 45%;
                background-position: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid $empty_color;       
                &:hover{
                    background: url(../images/remove_icon_hover.svg);
                    background-repeat: no-repeat;
                    background-size: 45%;
                    background-position: center;
                    transition: 0.1s;
                }
            }
            .toggle{
                background: url(../images/done_icon.svg);
                background-repeat: no-repeat;
                background-size: 45%;
                background-position: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid $elements;
                &:hover{
                    background: url(../images/done_icon_white.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 45%;
                    background-color: $input_color;
                    border-radius: 50%;
                }
            }    
        }
        p{
            float:left;
            width: 90%;
        }    
    }
    #completed{
        p{
            color: $empty_color;
            text-decoration: line-through;
        }
        .toggle{
            background: url(../images/done_icon_white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 45%;
            background-color: $elements;
            border-radius: 50%;
        }
    }
}
